@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
<<<<<<< HEAD
    Layout = null;
}


<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 
		<title>@Umbraco.Field("pagetitle")</title>

	
        <title>Studying in Denmark</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link href="css/app.css" rel="stylesheet" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="img/favicon.png">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
	
	
	</head>
<body>
	
	  <div class="container">
            <div class="row clearfix top-nav">
                <div class="col-md-6 column">
                    <img class="pull-left" src="images/logo.png" alt="logo" />
                </div>
                <div class="col-md-6 column">
                    <form class="navbar-form navbar-left pull-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control">
							<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div> 
                    </form>
                </div>
            </div>

<h1>
	@Umbraco.Field("headline")
</h1>
	
<p>
@Umbraco.Field("breadcrumb")
</p>
	
<p>
	@Umbraco.Field("longText")
</p>
								
		</div>
	
</body>
</html>
=======
    Layout = "Master.cshtml";
}
@section Head
{

}
<p>@Umbraco.Field("content")</p>
>>>>>>> origin/master
